#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BASEDIR=debian/itero-wm/usr/share/gnome-shell/extensions/itero-wm@itero

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp